<%- include("../partials/header") %>

<div class="container text-center">
    <h1>EDIT <%= campground.name %></h1>

    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <input class="form-control mb-1 col-sm-4 mx-auto mt-4" type="text" name="campground[name]" value="<%=campground.name%>" placeholder="name" required>
        <input class="form-control mb-1 col-sm-4 mx-auto" type="text" name="campground[image]" value="<%=campground.image%>" placeholder="image url" required>
        <input class="form-control mb-2 col-sm-4 mx-auto" type="text" name="campground[description]" value="<%=campground.description%>" placeholder="description" required>
        <button class="btn btn-primary btn-lg btn-block col-sm-4 mx-auto">Submit</button>
    </form>

    <a class="nav-link" href="/campgrounds">Go Back</a>
</div>

<%- include("../partials/footer") %> 